<html>
<head>
	<title>リステップ あらそい ポイント調整ツール</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<style type="text/css">
		table {
			border-collapse:  collapse;
		}
		table, th, td {
			border: 1px solid black;
		}
		tr {
			text-align: center;
		}
	</style>
</head>
<body>
	<div id="app">
		<h1>リステップ あらそい ポイント調整ツール</h1>
		現在値から目標値に至る組み合わせのうち、必要チケット数が最小のものを1つ求めます。

		<h2>設定</h2>

		<h3>楽曲Lv</h3>
		<table>
			<thead>
				<tr>
					<th v-for="basePoint in BASE_POINT_LIST">
						{{ basePoint.dispStr }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(basePoint, index) in BASE_POINT_LIST">
						<input type="checkbox" :value="index" v-model="selectedBasePointIndexList">
					</td>
				</tr>
			</tbody>
		</table>

		<h3>スコアランク</h3>
		<table>
			<thead>
				<tr>
					<th v-for="rankCoeff in RANK_COEFF_LIST">
						{{ rankCoeff.dispStr }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(rankCoeff, index) in RANK_COEFF_LIST">
						<input type="checkbox" :value="index" v-model="selectedRankCoeffIndexList">
					</td>
				</tr>
			</tbody>
		</table>

		<h3>特効（%）</h3>
		<input v-model="bonusCoeffsStr">（コンマ区切り）

		<h3>ポイント</h3>
		<div>
			<label for="first-point">現在値</label>
			<input id="first-point" type="number" min="0" v-model.number="firstPoint">
		</div>
		<div>
			<label for="last-point">目標値</label>
			<input id="last-point" type="number" min="0" v-model.number="lastPoint">
		</div>

		<h2>結果</h2>
		<template v-if="canAdjust">
			<ul>
				<li v-for="choice in requiredChoiceList">
					{{ choice.dispStr }}
				</li>
			</ul>
			必要チケット数: {{ totalTicketNum }}
		</template>
		<template v-else>
			調整不能
		</template>
	</div>

	<script>
		const BASE_POINT_LIST = [
			{
				dispStr: "☆1-5",
				value: 108,
			},
			{
				dispStr: "☆6-10",
				value: 112,
			},
			{
				dispStr: "☆11-15",
				value: 115,
			},
			{
				dispStr: "☆16-20",
				value: 119,
			},
			{
				dispStr: "☆21-25",
				value: 122,
			},
			{
				dispStr: "☆26-28",
				value: 126,
			},
		];
		const RANK_COEFF_LIST = [
			{
				dispStr: "ランク外",
				value: 1,
			},
			{
				dispStr: "C",
				value: 8 / 7,
			},
			{
				dispStr: "B",
				value: 9 / 7,
			},
			{
				dispStr: "A",
				value: 10 / 7,
			},
			{
				dispStr: "S",
				value: 11 / 7,
			},
		];

		const vm = new Vue({
			el: "#app",
			data: {
				selectedBasePointIndexList: [0, 1, 2, 3, 4, 5],
				selectedRankCoeffIndexList: [0, 4],
				bonusCoeffsStr: "0,10",
				firstPoint: 0,
				lastPoint: 20000,
			},
			computed: {
				BASE_POINT_LIST() {
					return BASE_POINT_LIST;
				},

				RANK_COEFF_LIST() {
					return RANK_COEFF_LIST;
				},

				bonusCoeffList() {
					return this.bonusCoeffsStr.split(",").map(Number);
				},

				choiceList() {
					const selectedBasePointIndexList = this.selectedBasePointIndexList;
					const selectedRankCoeffIndexList = this.selectedRankCoeffIndexList;
					const bonusCoeffList = this.bonusCoeffList;

					const choiceList = [];
					for (const basePointIndex of selectedBasePointIndexList) {
						const basePoint = BASE_POINT_LIST[basePointIndex];
						for (const multiplierIndex of selectedRankCoeffIndexList) {
							const rankCoeff = RANK_COEFF_LIST[multiplierIndex];
							for (const bonusCoeff of bonusCoeffList) {
								const coeff = bonusCoeff / 100 + 1;
								const value = Math.floor(Math.ceil(basePoint.value * rankCoeff.value) * coeff);
								choiceList.push({
									dispStr: `${basePoint.dispStr} ${rankCoeff.dispStr} ${bonusCoeff}% (${value})`,
									value,
								});
							}
						}
					}
					return choiceList;
				},

				dp() {
					const choiceList = this.choiceList;
					const firstPoint = this.firstPoint;
					const lastPoint = this.lastPoint;

					const dp = [];
					for (let i = 0; i < choiceList.length; i++) {
						dp[i] = [];
						for (let j = 0; j <= lastPoint - firstPoint; j++) {
							dp[i][j] = Infinity;
						}
					}
					dp[0][0] = 0;

					for (let i = 0; i < choiceList.length; i++) {
						const choiceValue = choiceList[i].value;
						for (let j = 0; j <= lastPoint - firstPoint; j++) {
							if (i + 1 < choiceList.length) {
								dp[i + 1][j] = dp[i][j];
							}
							if (j + choiceValue <= lastPoint - firstPoint) {
								dp[i][j + choiceValue] = Math.min(dp[i][j + choiceValue], dp[i][j] + 1);
							}
						}
					}

					return dp;
				},

				canAdjust() {
					return this.firstPoint <= this.lastPoint && this.dp[this.choiceList.length - 1][this.lastPoint - this.firstPoint] !== Infinity;
				},

				requiredChoiceList() {
					const choiceList = this.choiceList;
					const firstPoint = this.firstPoint;
					const lastPoint = this.lastPoint;
					const dp = this.dp;

					const requiredChoiceList = [];
					let currentPoint = lastPoint - firstPoint;
					for (let i = choiceList.length - 1; i >= 0; i--) {
						const choice = choiceList[i];
						let count = 0;
						while (1) {
							if (currentPoint - choice.value >= 0 && dp[i][currentPoint - choice.value] === dp[i][currentPoint] - 1) {
								count++;
								currentPoint -= choice.value;
							} else {
								break;
							}
						}
						if (count > 0) {
							requiredChoiceList.push({
								dispStr: `${choice.dispStr} × ${count}回`,
								value: choice.value,
								count,
							});
						}
					}
					return requiredChoiceList.sort((a, b) => b.value - a.value);
				},

				totalTicketNum() {
					return this.requiredChoiceList.reduce((acc, choice) => acc + choice.count, 0);
				},
			},
		});
	</script>
</body>
</html>
